* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    overflow-x: hidden;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    -webkit-text-size-adjust: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

*, h1, h2, h3, h4, label, p, span, input, button, a, div{
    color: #fff;
    font-family: 'Cambria';
    font-weight: normal;
    font-style: normal;
}

input, textarea {outline:none;}

button:active, button:focus{
    outline: none;
}

button{
    cursor: pointer;
    border: none;

}

.game {
    width: 980px;   
    height: 630px;
    background: #149485; /* Для старых браузров */
    background: linear-gradient(to bottom, #149485, #006b5f);    
    position: relative;
    overflow: hidden;
}   
.game_map{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;  
    
}
.game_path{
    z-index: 3;     
    position: absolute;
    overflow: visible;
    z-index: 1;    
    top: 21px;
    right: 4px;
}

.game_man{
    z-index: 4;     
    position: absolute;
    transition: 1s;
    image{
        z-index: 10;     
    }
}
button{
    border: none;
    background: none; 
}
.navigate{
    z-index: 5;     
    position: absolute;
    bottom: 18px;
    left: 4px;
    display: flex;
    align-items: center;
    .navigate_friend{
        width: 536px;
        height: 63px;
        background: url('../img/friend.png') no-repeat center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 9px;
        padding-left: 9px;
    }
    .nav{
        cursor: pointer;
    }
    .nav_prev{
        transform: rotate(-180deg);
    }
    .slider{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        align-items: center;
        margin-right: 6px;
        margin-left: 6px;
        overflow: hidden;
    }
    .slider_wrap{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: 1s;
    }
    .slider_item{
        background: url('../img/friend_area.png') no-repeat center;
        background-size: cover;
        width: 50px;
        height: 51px;
        display: flex;
        flex-shrink: 0;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        padding-bottom: 3px;
        margin-right: 10px;   
    }
    .slider_item:first-child:after{
        content: '';
        width: 34px;
        height: 35px;
        background: url('../img/plus.png') no-repeat center;
        background-size: cover;
        position: absolute;
        right: -6px;
        top: -10px;
        cursor: pointer;
    }
  
    .navigate_chat{
        border: none;
        display: flex;
        align-items: center;
        height: 100%;
        width: auto;
        margin-left: 3px;
        cursor: no-drop;
    }
    .navigate_start{
        width: 202px;
        height: 63px;
        text-align: center;
        background: url('../img/btn_univer.png') no-repeat center;
        background-size: cover;
        color: #fff;
        font-size: 33px;
        text-align: center;
        margin-left: 8px;
    }
    .navigate_email{
        background: url('../img/email.png') no-repeat center;
        background-size: cover;
        width: 65px;
        height: 60px;
        margin-left: 9px;
        cursor: no-drop;
    }
    .navigate_raiting{
        background: url('../img/btn.png') no-repeat center;
        background-size: cover;
        width: 65px;
        height: 60px;
        margin-left: 9px;
        cursor: pointer;
    }
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .52); 
    display: flex;
    //align-items: center;
    justify-content: center;
    z-index: -1;
    opacity: 0;
    transition: .6s;
}

.modal{
    width: 523px;
    height: 455px;
    background: url('../img/modal.png') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: -650px;
    transition: 1s;
}
.overlay_open{
    opacity: 1;
}
.modal_open{
    margin-top: 75px;
}
.modal_top{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.close{
    cursor: pointer;
}
.modal_name{
    width: 264px;
    height: 33px;
    margin-top: -10px;
    background: url('../img/raiting_modal.png') no-repeat center;
    background-size: cover;
    text-align: center;
}
.modal_close{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 17px;
    margin-top: -7px;
}

.modal_content{
    background: #8c5a31;
    width: 464px;
    height: 324px;
    border-radius: 20px;
    margin-bottom: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 25px;
    .title{
       display: flex; 
       flex-shrink: 0;
       align-items: center;
       background: url('../img/raiting_title.png') no-repeat center;
        background-size: cover;
        width: 100%;
        width: 403px;
        height: 29px;
       p{
           color: #fff;
       }
       .place{
           width: 92px;
           padding-left: 16px;
       }
       .fio{
           width: 234px; 
           padding-left: 7px;
       }
    }
    .raiting{
        margin-top: 8px; 
        overflow: hidden;
        overflow-y: scroll;
        scrollbar-width: none;
    }
    .raiting::-webkit-scrollbar { width: 0;  }   
    .raiting { -ms-overflow-style: none; }
    .raiting { overflow: -moz-scrollbars-none; }


    .raiting_item{
        width: 403px;
        height: 27px;
        background: url('../img/rating_item.png') no-repeat center;
        background-size: cover;
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        p{
            color: #fff;
        }
        .place{
            width: 92px;
            padding-left: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
        }
        .fio{
            width: 234px; 
            padding-left: 7px;
        }
        .fio_active{
            color: #ab2020;
        }
    }
    .rating_photo{
        background: url('../img/rating_photo.png') no-repeat center;
        background-size: cover;
        width: 30px;
        height: 29px;
        display: flex;
        justify-content: center;
        padding-bottom: 1px;
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
    .raiting_item:last-child{
        margin-bottom: 0;
    }
}