@font-face {
    font-family: 'Cambria';
    src: url('../fonts/Cambria-Bold.eot');
    src: local('Cambria Bold'), local('Cambria-Bold'),
        url('../fonts/Cambria-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cambria-Bold.woff') format('woff'),
        url('../fonts/Cambria-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cambria';
    src: url('../fonts/Cambria.eot');
    src: local('Cambria'), local('Cambria'),
        url('../fonts/Cambria.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cambria.woff') format('woff'),
        url('../fonts/Cambria.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}

